@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 64% 96%; /* #F0F0FB */
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;
    --primary: 240 60% 50%; /* #3333CC */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 240 60% 50%;
    --muted: 240 10% 92%;
    --muted-foreground: 240 10% 40%;
    --accent: 278 100% 24%; /* #4F007A */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 88%;
    --input: 240 20% 88%;
    --ring: 240 60% 50%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-headline {
  font-family: 'Space Grotesk', sans-serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}